
@mixin halfsplit() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin halfsplitp() {
  flex: 1;
  display: inline-block;
  margin: 20px;
  margin-top: 0px;
}

#landing-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  height: 85vh;
  min-height: 500px;
  width: 100%;
  img {
    margin: 30px;
    max-height: 300px;
  }
}

.landing-block {
  max-width: 600px;
  margin: 20px;
  // margin-right: 80px;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects-block {
  display: flex;
  flex-direction: column;
  .row {
    @include halfsplit();
  }
  img {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: blanchedalmond;
    padding: 20px;
  }
}

.center-items {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-left: 20px;
  }
}

.competencies-block {
  @include halfsplit();
  p {
    @include halfsplitp();
  }
}

.aboutme-block {
  @include halfsplit();
  p {
    @include halfsplitp();
  }
  img {
    flex: 1;
    display: inline-block;
    margin: 20px;
    margin-top: 0px;
    width: 50px;
  }
}