// https://colorhunt.co/palette/201e43134b70508c9beeeeee

$dark-color: #201E43;
$primary-color: #134B70;
$secondary-color: #508C9B;
$bgcolor: #EEEEEE;

%halfsplit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

%halfsplitp {
  flex: 1;
  display: inline-block;
  margin: 20px;
  margin-top: 0px;
}

%headerfooterfont {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

section {
  margin-bottom: 20vh;
}

header {
  background-color: #134B70;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  // justify-content: space-evenly;
  p, a {
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    @extend %headerfooterfont;
  }
  a {
    align-self: flex-end;
    text-decoration: none;
  }
}

body {
  margin: 0;
  background-color: $bgcolor;
  // background-image: url("pics/20210623_114138.jpg");
  // background-attachment: fixed;
  // background-size: cover;
}

h1 {
  color: $primary-color;
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: bold;
}

p, li {
  color: $dark-color;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 1.2em;
}

#landing-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  min-height: 500px;
}

.landing-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // width: 100%;
  & > div {
    margin: 20px;
    max-width: 600px;
  }
  img {
    max-width: 350px;
    margin: 30px;
    max-height: 300px;
    border-style: solid;
    border-width: 8px;
    // border-bottom-width: 20px;
    border-color: $secondary-color;
  }
  // margin: 20px;
  // margin-right: 80px;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects-block {
  display: flex;
  flex-direction: column;
  .row {
    @extend %halfsplit;
  }
  img {
    max-width: 100%;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: $secondary-color;
    padding: 12px;
  }
}

.hover:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  img {
    max-width: 50vw;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.center-items {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-left: 20px;
  }
}

.experience-block {
  @extend %halfsplit;
  li {
    margin-left: 20px;
  }
  p {
    @extend %halfsplitp;
  }
}

.aboutme-block {
  @extend %halfsplit;
  & > div {
    @extend %halfsplitp;
  }
  img {
    flex: 1;
    display: inline-block;
    margin: 20px;
    margin-top: 0px;
    width: 100%;
    height: auto;
  }
}

footer {
  text-align: center;
  background-color: $primary-color;
  padding: 20px;
  p {
    @extend %headerfooterfont;
    color: white;
    margin: 0;
  }
  img {
    width: 100px;
  }
}