// https://colorhunt.co/palette/201e43134b70508c9beeeeee


%halfsplit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

%halfsplitp {
  flex: 1;
  display: inline-block;
  margin: 20px;
  margin-top: 0px;
}

body {
  background-color: #EEEEEE;
}

h1 {
  color: #134B70;
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: bold;
}

p {
  color: #201E43;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#landing-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  height: 85vh;
  min-height: 500px;
  width: 100%;
  img {
    margin: 30px;
    max-height: 300px;
  }
}

.landing-block {
  max-width: 600px;
  margin: 20px;
  // margin-right: 80px;
}

.projects-container {
  display: flex;
  justify-content: center;
}

.projects-block {
  display: flex;
  flex-direction: column;
  .row {
    @extend %halfsplit;
  }
  img {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #508C9B;
    padding: 20px;
  }
}

.hover:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.center-items {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-left: 20px;
  }
}

.competencies-block {
  @extend %halfsplit;
  p {
    @extend %halfsplitp;
  }
}

.aboutme-block {
  @extend %halfsplit;
  p {
    @extend %halfsplitp;
  }
  img {
    flex: 1;
    display: inline-block;
    margin: 20px;
    margin-top: 0px;
    width: 50px;
  }
}